{% extends 'layout.html' %}

{% block title %} Home {% endblock %}

{% block body %}
<h2>Welcome to IESCP!</h2>
<hr>
<p>IESCP (Influencer Engagement and Sponsorship Coordination Platform) is a one stop platform to connect Sponsors and
    Influencers so that sponsors can get their product/service advertised and influencers can get monetary benefit.</p>

<p>To proceed, login or register.</p>
<div class="btn-group" role="group">
    <button type="button" class="btn btn-success">Login</button>
    <a href="{{ url_for('register') }}" class="btn btn-warning">Register</a>
</div>
{% endblock %}