{% extends 'layout.html' %}

{% block title %} Register {% endblock %}

{% block body %}
<h2>New user registration</h2>
<hr>
<p>
    We have two types of accounts:
<ul>
    <li>Sponsor Account: for a company/individual who wants to advertise their product/service</li>
    <li>Influencer Account: for an individual who has significant social media following</li>
</ul>
</p>

<p>Select the type of account you want to register as:</p>
<div class="btn-group" role="group">
    <a type="button" class="btn btn-success" href="{{ url_for('register_sponsor') }}">Sponsor</a>
    <a type="button" class="btn btn-warning" href="{{ url_for('register_influencer') }}">Influencer</a>
</div>
{% endblock %}