{% extends 'layout.html' %}

{% from 'macros.html' import display_influencer_card %}

{% block title %} Dashboard {% endblock %}

{% block body %}
<div class="row">
    <div class="col-12 col-md-6">
        <h4>List of Influencers</h4>
    </div>
    <form class="d-flex col-12 col-md-6" method="post">
        {{ form.csrf_token }}
        {{ form.search(class="form-control me-2", placeholder="Search") }}
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>
{% if influencers | length != 0 %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4">
    {% for influencer in influencers %}
    {{display_influencer_card(influencer.user.profile_picture, influencer)}}
    {% endfor %}
</div>
{% else %}
<p>No influencers found.</p>
{% endif %}
{% endblock %}