{% extends 'layout.html' %}

{% from 'macros.html' import display_errors, display_campaign_details %}

{% block title %} Dashboard {% endblock %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block body %}
<h2>Statistics</h2>
<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
    <div class="col">
        <canvas id="campaignCount" height="300"></canvas>
    </div>
    <div class="col">
        <canvas id="adRequestCount" height="300"></canvas>
    </div>
    <div class="col">
        <canvas id="spendSplit" height="300"></canvas>
    </div>
    <div class="col">
        <canvas id="budgetSplit" height="300"></canvas>
    </div>
</div>

<script>
    const campaignCount = document.getElementById('campaignCount');
    new Chart(campaignCount, {
        type: 'bar',
        data: {
            labels: {{ campaignCountLabels | tojson }},
        datasets: [{
            label: 'Count',
            data: {{ campaignCountData | tojson }},
        borderWidth: 1,
        backgroundColor: [
            'rgba(255, 159, 64, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 99, 132, 0.2)',
        ],
        borderColor: [
            'rgb(255, 159, 64)',
            'rgb(75, 192, 192)',
            'rgb(54, 162, 235)',
            'rgb(255, 99, 132)',
        ],
        
            }]
        },
        options: {
        scales: {
            y: {
                beginAtZero: true
            }
        },
        plugins: {
            title: {
                display: true,
                text: 'Number of Campaigns',
                position: 'bottom'
            }
        }
    }
    });

    const adRequestCount = document.getElementById('adRequestCount');
    new Chart(adRequestCount, {
        type: 'bar',
        data: {
            labels: {{ adRequestCountLabels | tojson }},
        datasets: [{
            label: 'Count',
            data: {{ adRequestCountData | tojson }},
        borderWidth: 1,
        backgroundColor: [
            'rgba(255, 159, 64, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(255, 99, 132, 0.2)',
            'rgba(153, 102, 255, 0.2)',
        ],
        borderColor: [
            'rgb(255, 159, 64)',
            'rgb(75, 192, 192)',
            'rgb(255, 99, 132)',
            'rgb(153, 102, 255)',
        ],
        
            }]
        },
        options: {
        scales: {
            y: {
                beginAtZero: true
            }
        },
        plugins: {
            title: {
                display: true,
                text: 'Number of AdRequests',
                position: 'bottom'
            }
        }
    }
    });

    const spendSplit = document.getElementById('spendSplit');
    new Chart(spendSplit, {
        type: 'doughnut',
        data: {
            labels: {{ spendSplitLabels | tojson }},
        datasets: [{
            label: 'USD',
            data: {{ spendSplitData | tojson }},
        borderWidth: 1,
        backgroundColor: {{ spendSplitColours | tojson }},
        borderColor: {{ spendSplitColourBorder | tojson}},
        
            }]
        },
        options: {
        scales: {
            y: {
                beginAtZero: true
            }
        },
        plugins: {
            title: {
                display: true,
                text: 'Campaign Actual Spends Split',
                position: 'bottom'
            },
            legend: {
                display: false,
            }
        }
    }
    });

    const budgetSplit = document.getElementById('budgetSplit');
    new Chart(budgetSplit, {
        type: 'doughnut',
        data: {
            labels: {{ budgetSplitLabels | tojson }},
        datasets: [{
            label: 'USD',
            data: {{ budgetSplitData | tojson }},
        borderWidth: 1,
        backgroundColor: {{ spendSplitColours | tojson }},
        borderColor: {{ spendSplitColourBorder | tojson}},
        
            }]
        },
        options: {
        scales: {
            y: {
                beginAtZero: true
            }
        },
        plugins: {
            title: {
                display: true,
                text: 'Budget allocation Split',
                position: 'bottom'
            },
            legend: {
                display: false,
            }
        }
    }
    });
</script>
{% endblock %}